{% include 'header.twig' %}

<div class="login">
    {% if feedback %}
        <div class="alert bg-red">
            {{ feedback }}
        </div>
    {% endif %}

    <h3>Log in</h3>

    <form action="" method="post">
        <div class="title">
            Screen name
        </div>
        <div>
            <input type="text" name="username" class="form-control" />
        </div>

        <div class="title">
            Password
        </div>
        <div>
            <input type="password" name="password" class="form-control" />
        </div>

        <div>
            <input type="submit" name="login" class="button button_info" value="Login" />
            
            <a href="login_reset">Reset password</a>
        </div>
    </form>

    <h3>Create new account</h3>

    <form action="" method="post">
        <div class="title">
            Screen name
        </div>
        <div>
            <input type="text" name="username" class="form-control" />
        </div>

        <div class="title">
            Password
        </div>
        <div>
            <input type="password" name="password" class="form-control" />
            <em>At least 8 characters</em>
        </div>

        <div>
            <input type="submit" name="new_account" class="button button_info" value="Create account" />
        </div>
    </form>
</div>

{% include 'footer.twig' %}




